<!-- <div style="border-style: solid;">
    Title : <span>{{post.title}}</span> <br />
    Body : <span>{{post.body}}</span> 
</div> -->

<mat-card style="background-color: lightgray;">
    <mat-card-header>
      <!-- <mat-card-title>Users List</mat-card-title><br /> -->

    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <td>Title :</td>
          <td><span>{{post.title}}</span></td>
        </tr>
        <tr>
          <td>Body :</td>
          <td><span>{{post.body}}</span></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>